<% if(typeof errors != undefined && errors && errors.length>0) { %>
    <div class="bg-red-200">
    <strong>oops , Errors there.. !</strong>
    <span>
        <% errors.forEach(err => { %>
        <ul>
            <li> <%= err %></li>
        </ul>
        <% }) %> 
    </span>
    </div>
<% } %>